*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 20px 40px;
}
.navbar .logo i{
    color: #0aa5ff;
    font-size: 20px;
    
}
.navbar .logo a{
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 700;
    margin-left: 12px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 32px;
    
}
.menu-links{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-inline: 24px;
    border-right: 1px solid #999999;
}
.menu-links a{
    text-decoration: none;
    padding: 8px 16px;
    color: #1a1a1a;

}
.log-in{
    border-radius: 10px;
    font-weight: 500;
    border: 2px solid #0aa5ff;
    font-size: 15px ;
    padding: 12px 24px;
    background-color: transparent;
    transition: 0.2s    ;
    cursor: pointer;
    text-transform: uppercase;
}
.log-in:hover{
    color: white;
    background-color: #0aa5ff;
}
.menu-btn{
    display: none;
    cursor: pointer;
    font-size: 32px;
}   
section{
    padding: 20px 40px;
}
.hero-container{
    display: flex;
}
.hero-image{
    display: flex;
    justify-content: end;
    gap: 30px;
}
.hero-image img{
    width: 600px;
    height: auto;
    margin-left: 18px;

}
.about-content {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .about-content h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    flex: 1 0 300px; /* Adjust the flex value as needed to control card width */
  }
  
  .card h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .card p {
    font-size: 16px;
    line-height: 1.5;
  }
